                        <!-- foreach está percorrendo a collection para buscar os itens -->
                        <!-- criando um alert quando está vazio -->
                        <!-- <% if(produtos_itens ==""){%>
                            <tr>
                                <td colspan="4" class="alert alert-warning"> Nenhum produto cadastrado!</td>
                            </tr>
                        <%}else{produtos_itens.forEach(function(produto){ %>
                            <tr> -->